* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 13px 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background: rgb(135, 181, 181);
}