.quote-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  width: 45vw;
  max-width: 800px;
  height: 47vh;
  padding: 15px;
  box-shadow: 1px 1px 10px 1px black;
  background-color: rgba(255, 109, 4, 0.961);
  transition: all 0.3s ease;
}

.text {
  width: 100%;
  height: 27vh;
  padding: 5px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: justify;
  overflow-y: auto;
  font-size: 1.6rem;
  line-height: 1.13;
  color: white;
}

.text::-webkit-scrollbar {
  width: 8px;
}

.text::-webkit-scrollbar-thumb {
  background-color: lightgrey;
  border: 1px solid white;
  border-radius: 10px;
}

.text::-webkit-scrollbar-thumb:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

.author {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.quote-btn-container {
  display: flex;
  width: 100%;
  gap: 15px;
}

.new-quote,
.tweet-quote {
  height: 40px;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  outline: 1px solid black;
  background-color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  flex: 1;

  &:active {
    border: none;
    color: hsl(240, 13%, 40%);
  }

  &:hover {
    cursor: pointer;
    background-color: rgb(236, 236, 236);
    transition: background-color 0.3s ease;
  }
}


@media (max-width: 425px) {
  .quote-box {
    width: 90vw;
    min-height: 60vh;
  }

  .text {
    font-size: 1.36rem;
    height: 30vh;
  }

  .author {
    font-size: 1.23rem;
    margin-bottom: 15px;
  }

  .quote-btn-container {
    max-width: 90vw;
  }

  .new-quote,
  .tweet-quote {
    font-size: 1.17rem;
  }
}

@media (min-width: 425px) and (max-width: 527px) {
  .quote-box {
    width: 90vw;
    min-height: 65vh;
  }

  .text {
    font-size: 1.5rem;
    height: 35vh;
  }

  .author {
    font-size: 1.32rem;
    margin-bottom: 15px;
  }

  .quote-btn-container {
    max-width: 90vw;
  }

  .new-quote,
  .tweet-quote {
    font-size: 1.25rem;
  }
}

@media (min-width: 527px) and (max-width: 600px) {
  .quote-box {
    width: 90vw;
    min-height: 70vh;
  }

  .text {
    font-size: 1.7rem;
    height: 40vh;
  }

  .author {
    font-size: 1.47rem;
    margin-bottom: 15px;
  }

  .quote-btn-container {
    max-width: 90vw;
  }

  .new-quote,
  .tweet-quote {
    font-size: 1.37rem;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .quote-box {
    width: 90vw;
    min-height: 65vh;
  }

  .text {
    font-size: 1.85rem;
    height: 35vh;
  }

  .author {
    font-size: 1.57rem;
    margin-bottom: 15px;
  }

  .quote-btn-container {
    max-width: 90vw;
  }

  .new-quote,
  .tweet-quote {
    font-size: 1.43rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .quote-box {
    width: 90vw;
    min-height: 65vh;
  }

  .text {
    font-size: 2.3rem;
    height: 35vh;
  }

  .author {
    font-size: 1.96rem;
    margin-bottom: 15px;
  }

  .quote-btn-container {
    max-width: 90vw;
  }

  .new-quote,
  .tweet-quote {
    font-size: 1.8rem;
    height: 58px;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .quote-box {
    width: 90vw;
    min-height: 70vh;
  }

  .text {
    font-size: 2.5rem;
    height: 37vh;
  }

  .author {
    font-size: 2.2rem;
    margin-bottom: 15px;
  }

  .quote-btn-container {
    max-width: 90vw;
  }

  .new-quote,
  .tweet-quote {
    font-size: 2rem;
    height: 60px;
    border-radius: 6px;
  }
}

@media (min-width: 1440px) and (max-width: 2560px) {
  .quote-box {
    width: 90vw;
    min-height: 65vh;
  }

  .text {
    font-size: 3.1rem;
    height: 36vh;
  }

  .author {
    font-size: 2.85rem;
    margin-bottom: 15px;
  }

  .quote-btn-container {
    max-width: 90vw;
  }

  .new-quote,
  .tweet-quote {
    font-size: 2.7rem;
    height: 78px;
    border-radius: 12px;
  }
}